<!DOCTYPE html>
<html>
  <head>
      <title>Js Project</title>
      	<!-- Google font -->
	    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">
      <link rel="shortcut icon" type="image/png" href="images/logo.jpg"/>

      {{!-- link css to html --}}
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/404.css">
  </head>

  <body style=" background: url('images/background2.jpg');  background-repeat: no-repeat;  background-size: cover;  background-attachment: fixed;  background-position: center;">
    
    <div class="main">
      <div id="top">
        <br> {{@title}}
      </div>
        <p>
          {{@message}}
             <br>
        </p>
      <div class="clearfix">
        <p style="text-align: right"> <a href="/"> <button class="btn">Back</button> </a>  </p>
      </div>
    </div>
    
  </body>
</html>
